*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: #080808;
}

ul{
   list-style: none; 
}

a{
    text-decoration: none;
}

::selection{
    background-color: #e70634;
    color: #080808;
}

/* ---------------- Navigation bar -------------------- */
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    margin: auto;
    width: 100%;
}
.navigation .menu-icon{
    cursor: pointer;
    float: right;
    padding: 20px 10px;
    z-index: 103;
}
.navigation .menu-icon .nav-icon{
    background-color: #ffffff;
    display: block;
    height: 2px;
    width: 25px;
    position: relative;
    transition: background 0.2s ease-out;
}
.navigation .menu-icon .nav-icon::before,
.navigation .menu-icon .nav-icon::after{
    background-color: #ffffff;
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transition: all ease-out 0.2s;
}
.navigation .menu-icon .nav-icon::before{
    top: 8px;
}
.navigation .menu-icon .nav-icon::after{
    top: -8px;
}

/* ----------- Create menu icon to cross ------------------ */
.navigation .menu-btn:checked ~ .menu-icon .nav-icon{
    background-color: transparent;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon::before{
    transform: rotate(-45deg);
    top: 0px;   
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon::after{
    transform: rotate(45deg);
    top: 0px;   
}
.menu-btn{
    display: none;
}

/*-------- Menu -------------*/
.menu{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #111111f1;
    z-index: 102;
    display: none;
    justify-content: center;
    align-items: center;
    animation: fade 0.3s;
}
.menu li a{
    color: #ffffff;
    margin: 0px 40px;
    font-size: 2rem;
    font-family: Monoton;
    transition: all ease;
    transition: all ease 0.3s;
    text-decoration: none;
}
.menu li a:hover{
    font-size: 2.3rem;
    color: #e70634;
    transition: all ease 0.3s;
}

.navigation .menu-btn:checked ~ .menu{
    display: flex;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* ----- logo-------- */
.logo{
    color: #e70634;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 400;
    margin: 0px auto 0px 40px;
    display: flex;
    align-items: center;
    font-family: Monoton;
    letter-spacing: 1px;
}
.logo span{
    font-size: 0.7rem;
    margin-left: 5px;
    font-weight: 700;
    letter-spacing: 2px;
}

/*--search-box----*/
.search-box{
    background-color: #d1d1d111;
    padding: 3px 20px;
    border-radius: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.search-box input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
}
.search-box input::placeholder{
    color: #ffffff5e;
}
.search-box button{
    background-color: transparent;
    color: #ffffffc9;
    border: none;
    outline: none;
    cursor: pointer;
}

.nav-text{
    color: #ffffff;
    margin: 0px auto 0px 50px;
    font-size: 30px;
}
.nav-text span{
    color: #e70634;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 50px;
    font-weight: 400;
    font-family: Monoton;
    letter-spacing: 1px;
}


/* footer------- */
footer{
    background-color: #0e0e0ec2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}
footer .copyright{
    color: #4d4d4d;
    font-size: 0.9rem;
}
footer .logo{
    margin: 0px;
    font-size: 2rem;
    font-weight: 400;
}

/* Footer scocial media links */
.links a:hover{
    color: #e70634;
}
.links a{
    font-size: 30px;
    color: #ffffff;
    margin: 25px 10px;
}


/* Making home page responsive */
@media(max-width:1200px){
    #main-slider,
    #latest,
    .slider-btns{
        width: 90%;
    }
    .menu li a{
        margin: 0px;
        font-size: 1.6rem;
    }
    .menu{
        flex-direction: column;
    }
}
@media(max-width:1100px){
    .post-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(max-width:824px){
    .navigation{
        padding: 20px 10px;
        width: 90%;
    }
    .logo,
    footer .logo{
        font-size: 1.3rem;
    }
    .post-container{
        grid-template-columns: 1fr 1fr;
    }
    footer{
        padding: 10px 20px;
        text-align: center;
    }
}
@media(max-width:530px){
    .navigation{
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 20px 0px;
    }
    .logo{
        margin: 0px;
    }
    .search-box{
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
        border-radius: 0px;
    }
    .menu li a:hover{
        font-size: 1.8rem;
    }
    .post-container{
        grid-gap: 15px;
    }
    .post-box{
        height: 450px;
    }
    footer .cpoyright{
        font-size: 0.8rem;
    }
    .fix-icon .menu-icon{
        left: 10px;
        top: 0px;
        border-radius: 4px;
    }
}
@media(max-width:480px){
    .post-container{
        grid-template-columns: 1fr;
    }
    .post-box{
        height: 500px;
    }
}



.wrapper{
    max-width: 500px;
    width: 100%;
    background: #1d1c1c;
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    padding: 30px;
  }
  
  .wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #e70634;
    text-transform: uppercase;
    text-align: center;
  }

h1,h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #ffffff;
    text-align: center;
  }

p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
    color: #ffffff;
    text-align: left;  
}
  
 
  
  @media (max-width:420px) {
    .wrapper .form .inputfield{
      flex-direction: column;
      align-items: flex-start;
    }
    .wrapper .form .inputfield label{
      margin-bottom: 5px;
    }
    .wrapper .form .inputfield.terms{
      flex-direction: row;
    }
  }



/* Add background */

#feedback1 {
    background-image: url('feedback_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

/* popup message */

.popup {
    width: 400px;
    background: #ffffff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    
}

